html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /*background-color: rgb(148, 223, 253);*/
    background-color: rgb(188, 141, 243);
}

header{
    background-color: rgb(6, 37, 95);
    color: white;
    max-width: 100%;
    padding: 1%;
}

.Destacados{
    background-color: rgba(62, 4, 199, 0.849);
    max-width: 100%;
    padding: 1%;
    align-items: center;
}

.titulos{
    font: 'Segoe UI';
    color:rgba(100, 14, 180, 0.836);
    background-color: white;
    border-radius: 5%;
    width: 13rem;
    align-items: center;
    padding: 0.5%;
    margin-bottom: 1%;

}

.card{
    display:flexbox;
    position: relative;
    align-items: center;
}

.card-img-top{
    display:flexbox;
    position: relative;
    height: 16.3rem;
}

.juego2{
    display: flex;
    position: relative;
    margin-left: 27%;
    margin-bottom: 3%;
    margin-top: -24.5%;
}

.imagen2{
    display: flex;
    position: relative;
    height: 22rem;
}

.juego3{
    display: flex;
    position: relative;
    margin-left: 54%;
    margin-bottom: 3%;
    margin-top: -27.5%;
}

.imagen3{
    display: flex;
    position: relative;
    height: 22rem;
}


.custom-footer {
    display: flex;
    justify-content: space-around; /* Alinea los elementos en los extremos */
    width: 100%; /* Hace que el footer ocupe todo el ancho disponible */
    background-color: #183661;
    color: white;
    padding: 10px;
    margin-top: auto;

}

.textoFooter {
    margin-top: 30px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.nombresIntegrantes {
    margin-top: 10px;
}
.Estudiante {
    font-size: 14px;
    margin-bottom: 4px;
}

.info{
    text-align: center;
    margin-top: 6px;
}

.logoFooter{
    width: 25px;
}

.TituloFooter{
    font-size: 14px;
}

.textoFooter2{
 font-size: 14px;
}
