html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /*background-color: rgb(148, 223, 253);*/
    background-color: rgb(188, 141, 243);
}

header{
    background-color: rgb(6, 37, 95);
    color: white;
    max-width: 100%;
    padding: 1%;
}

.Destacados{
    background-color: rgba(62, 4, 199, 0.849);
    max-width: 100%;
    padding: 1%;
    align-items: center;
}

.titulos{
    font: 'Segoe UI';
    color:rgba(100, 14, 180, 0.836);
    background-color: white;
    border-radius: 5%;
    width: 13rem;
    align-items: center;
    padding: 0.5%;
    margin-bottom: 1%;

}

.card{
    display:flexbox;
    position: relative;
    align-items: center;
}

.card-img-top{
    display:flexbox;
    position: relative;
    height: 16.3rem;
}

.juego2{
    display: flex;
    position: relative;
    margin-left: 27%;
    margin-bottom: 3%;
    margin-top: -24.5%;
}

.imagen2{
    display: flex;
    position: relative;
    height: 22rem;
}

.juego3{
    display: flex;
    position: relative;
    margin-left: 54%;
    margin-bottom: 3%;
    margin-top: -27.5%;
}

.imagen3{
    display: flex;
    position: relative;
    height: 22rem;
}
/*.container-fluid{
background-color:  rgba(62, 4, 199, 0.849);
}*/